@model OpenWeatherMap.ViewModels.OpenWeatherMap.vmBasicWeather

@{
    ViewData["Title"] = "BasicWeather";
}

<h1>Basic Weather</h1>

<div>
    <h4>Quick Weather at a glance!</h4>
    <hr />
    <dl class="row">
        <dt class = "col-md-8">
            @Html.DisplayNameFor(model => model.zip)
        </dt>
        <dd class = "col-md-4">
            @Html.DisplayFor(model => model.zip)
        </dd>
        <dt class = "col-md-8">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-md-4">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-md-8">
            @Html.DisplayNameFor(model => model.temp)
        </dt>
        <dd class = "col-md-4">
            @Html.DisplayFor(model => model.temp)
        </dd>
        <dt class = "col-md-8">
            @Html.DisplayNameFor(model => model.main)
        </dt>
        <dd class = "col-md-4">
            @Html.DisplayFor(model => model.main)
        </dd>
        <dt class = "col-md-8">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-md-4">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
